/*----------------------------*\
	Buttons
\*----------------------------*/

.main-btn, .primary-btn {
    display: inline-block;
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
  }
  
  .icon-btn.main-btn, .icon-btn.primary-btn {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0px;
    border: none;
  }
  
  .main-btn {
    color: #30323A;
    background-color: #FFF;
    -webkit-box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 6px transparent;
    box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 6px transparent;
  }
  
  .main-btn:hover, .main-btn:focus {
    color: #F8694A;
    -webkit-box-shadow: 0px 0px 0px 1px #F8694A inset, 0px 0px 0px 0px #F8694A;
    box-shadow: 0px 0px 0px 1px #F8694A inset, 0px 0px 0px 0px #F8694A;
  }
  
  .primary-btn {
    color: #FFF;
    background-color: #F8694A;
  }
  
  .primary-btn:hover, .primary-btn:focus {
    color: #FFF;
    background-color: #30323A;
  }