.icon-xxs {
    height: 1rem;
    line-height: 1rem;
    width: 1rem
}

.icon-xs {
    height: 1.5rem;
    line-height: 1.5rem;
    width: 1.5rem
}

.icon-sm {
    height: 2rem;
    line-height: 2rem;
    width: 2rem
}

.icon-md {
    height: 2.5rem;
    line-height: 2.5rem;
    width: 2.5rem
}

.icon-lg {
    height: 3rem;
    line-height: 3rem;
    width: 3rem
}

.icon-xl {
    height: 3.5rem;
    line-height: 3.5rem;
    width: 3.5rem
}

.icon-xxl {
    height: 4rem;
    line-height: 4rem;
    width: 4rem
}

.icon-xxxl {
    height: 7rem;
    line-height: 7rem;
    width: 7rem
}

.icon-shape {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle
}