/*----------------------------*\
	Store
\*----------------------------*/

#store {
    margin-top: 15px;
    padding-top: 30px;
    border-top: 1px solid #DADADA;
    margin-bottom: 15px;
    padding-bottom: 30px;
    border-bottom: 1px solid #DADADA;
  }
  
  /*-- store filter --*/
  
  .row-filter {
    display: inline-block;
    vertical-align: top;
  }
  
  .row-filter>a {
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFF;
    background-color: #30323A;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
  }
  
  .row-filter>a:hover {
    opacity: 0.9;
  }
  
  .row-filter>a.active {
    background-color: #F8694A;
  }
  
  .sort-filter {
    display: inline-block;
    margin-left: 15px;
  }
  
  .sort-filter select.input {
    width: 120px;
  }
  
  .page-filter select.input {
    width: 90px;
  }
  
  .page-filter {
    display: inline-block;
  }
  
  .store-pages {
    display: inline-block;
    margin-left: 15px;
  }
  
  .store-pages li {
    display: inline-block;
    margin-right: 6px;
  }
  
  .store-pages li a {
    display: block;
    min-width: 10px;
    text-align: center;
  }
  
  .store-pages li.active {
    color: #F8694A;
  }