/*----------------------------*\
	Mobile nav
\*----------------------------*/

#header .nav-toggle {
    display: none;
  }
  
  @media only screen and (max-width: 991px) {
    #header .nav-toggle {
      display: inline-block;
    }
    header .float-start, header .float-end {
      float: none !important;
    }
    header .float-end {
      margin-top: 10px;
    }
    #responsive-nav {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      max-width: 270px;
      width: 0%;
      overflow: hidden;
      background-color: #FFF;
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%);
      -webkit-transition: 0.5s all;
      transition: 0.5s all;
      z-index: 990;
    }
    #responsive-nav.open {
      width: 100%;
      -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
      transform: translateX(0%);
    }
    #responsive-nav .dropdown .custom-menu {
      display: none;
      position: static;
      width: 100%;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-top: none;
      border-left: 2px solid #F8694A;
    }
    #responsive-nav .dropdown.show .custom-menu {
      display: block;
      min-width: auto;
      -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
      transform: translate(0px, 0px);
    }
    .category-nav .category-list, .menu-nav .menu-list {
      display: none;
      overflow-y: scroll;
      overflow-x: hidden;
      max-height: calc(100vh - 100px);
    }
    .category-nav .category-list.open, .menu-nav .menu-list.open {
      display: block;
    }
    .menu-nav .menu-header, .category-nav .category-header {
      cursor: pointer;
    }
    .category-nav {
      float: none;
      width: 100%;
    }
    .category-nav .category-list {
      position: static;
    }
    .menu-nav .menu-header {
      display: block;
    }
    .menu-nav .menu-list {
      float: none;
      border-left: 1px solid #DADADA;
      border-right: 1px solid #DADADA;
      border-bottom: 1px solid #DADADA;
    }
    .menu-nav .menu-list>li {
      display: block;
    }
    .menu-nav .menu-list>li+li {
      border-top: 1px solid #DADADA;
    }
    .menu-nav .menu-list>li>a {
      color: #30323A;
    }
    #navigation.shadow:after {
      content: "";
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 99;
    }
  }