<!-- section -->
<div class="section">
  <!-- container -->
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2">Login</div>
      <div class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" #form="ngForm">
          <div class="row g-3">
            <div class="col-12">
              <label for="email" class="form-label visually-hidden"
                >email</label
              >
              <input
                type="text"
                class="form-control"
                id="email"
                placeholder="Email"
                formControlName="email"
              />
              <div
                class="invalid-feedback d-block"
                *ngIf="controls['email'].touched && controls['email'].errors?.['required']"
              >
                Please enter email.
              </div>
              <div
                class="invalid-feedback d-block"
                *ngIf="controls['email'].touched && controls['email'].errors?.['email']"
              >
                Please enter valid email.
              </div>
            </div>
            <div class="col-12">
              <label for="phone" class="form-label visually-hidden"
                >phone</label
              >
              <input
                type="text"
                class="form-control"
                id="phone"
                placeholder="Phone"
                formControlName="phone"
              />
              <div class="invalid-feedback">Please enter email.</div>
            </div>

            <div class="col-12">
              <div class="password-field position-relative">
                <input
                  [type]="passwordFieldType"
                  class="form-control"
                  id="password"
                  placeholder="*****"
                  formControlName="password"
                />
                <span
                  ><i
                    class="bi bi-eye-slash password-toggler"
                    [class]="{
                      'bi-eye-slash': !passwordToggleFlag,
                      'bi-eye': passwordToggleFlag
                    }"
                    (click)="togglePassword()"
                  >
                  </i
                ></span>
              </div>

              <div
                class="invalid-feedback d-block"
                *ngIf="controls['password'].touched && controls['password'].errors?.['required']"
              >
                Please enter password.
              </div>
            </div>
            <div class="col-12">
              <div class="d-flex justify-content-between">
                <!-- form check -->
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckDefault"
                  />
                  <!-- label -->
                  <label class="form-check-label" for="flexCheckDefault"
                    >Remember me</label
                  >
                </div>
                <div>
                  Forgot password?
                  <a [routerLink]="['/forgot-password']">Reset It</a>
                </div>
              </div>
            </div>

            <div class="col-12 d-grid">
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="!form.valid || isSubmitted"
              >
                Register
              </button>
            </div>

            <div class="col-12">
              Don’t have an account?
              <a [routerLink]="['/register']">Sign Up</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- container -->
</div>
